.Map1 {
    position: absolute;
    left: 30%;
    top: 145%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    z-index: 1;
}

.Montesquieu1 {
    position: absolute;
    left: 67.5%;
    top: 122.8%;
    transform: translate(-50%, -50%);
    width: 9.5%;
    height: auto;
    z-index: 2;
}